@model AspnetCoreMvcFull.DTOs.ArsipSuratDto

@{
  // Logika untuk menentukan judul halaman
  bool isEditMode = Model.Id != 0;
  ViewData["Title"] = isEditMode ? "Ubah Arsip Surat" : "Unggah Surat";
  string pageDescription = isEditMode ? "Silakan ubah detail arsip surat pada form di bawah ini." : "Unggah surat yang telah terbit pada form ini untuk diarsipkan.";
  @* ViewData["isNavbar"] = false;
  ViewData["navbarType"] = "layout-navbar-hidden"; *@
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="@Url.Action("Index", "ArsipSurat")">Arsip Surat</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      @(isEditMode ? "Ubah" : "Unggah")
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-body">
        <p>@pageDescription</p>
        @if (!isEditMode)
        {
          <p><strong>Catatan:</strong><br />Gunakan file berformat PDF.</p>
        }

        <form asp-action="@(isEditMode ? "Edit" : "Create")" asp-route-id="@Model.Id" method="post"
          enctype="multipart/form-data">
          @Html.AntiForgeryToken()

          @if (isEditMode)
          {
            <input type="hidden" asp-for="Id" />
          }

          <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

          <div class="mb-3">
            <label class="form-label" asp-for="NomorSurat">Nomor Surat</label>
            <input type="text" class="form-control" asp-for="NomorSurat" placeholder="Masukkan Nomor Surat">
            <span asp-validation-for="NomorSurat" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label class="form-label" asp-for="KategoriSuratId">Kategori</label>
            <select class="form-select" asp-for="KategoriSuratId" asp-items="@(ViewData["KategoriList"] as SelectList)">
              <option value="">-- Pilih Kategori --</option>
            </select>
            <span asp-validation-for="KategoriSuratId" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label class="form-label" asp-for="Judul">Judul</label>
            <input type="text" class="form-control" asp-for="Judul" placeholder="Masukkan Judul Surat">
            <span asp-validation-for="Judul" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label class="form-label" asp-for="FilePdf">File Surat (PDF)</label>
            @if (isEditMode)
            {
              <p class="form-text">Kosongkan jika tidak ingin mengubah file.</p>
            }
            <input class="form-control" type="file" asp-for="FilePdf" accept=".pdf">
            <span asp-validation-for="FilePdf" class="text-danger"></span>
          </div>

          <div class="mt-5">
            <a asp-action="Index" class="btn btn-secondary me-2" style="width: 120px;">Kembali</a>
            <button type="submit" class="btn btn-primary" style="width: 120px;">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
