@model IEnumerable<AspnetCoreMvcFull.Models.KategoriSurat>

@{
  ViewData["Title"] = "Kategori Surat";
  @* ViewData["isNavbar"] = false;
  ViewData["navbarType"] = "layout-navbar-hidden"; *@
}

@{
  var message = TempData["SuccessMessage"] as string;
  if (message != null)
  {
    TempData.Remove("SuccessMessage");
  }
}

@section PageStyles {
  <link rel="stylesheet" href="~/vendor/libs/toastify/toastify.min.css">
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="@Url.Action("Index", "KategoriSurat")">Kategori Surat</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Home
    </li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <p class="mb-0">Berikut ini adalah kategori yang bisa digunakan untuk melabeli surat.</p>
    <p class="mb-0">Klik "Tambah" pada kolom aksi untuk menambahkan kategori baru.</p>
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-5">
        <form asp-action="Index" method="get" class="d-flex">
          <div class="input-group">
            <input type="text" class="form-control" name="searchQuery" value="@ViewData["CurrentFilter"]"
              placeholder="Cari kategori..." aria-label="Cari surat">
            <button class="btn btn-outline-primary" type="submit">Cari!</button>
          </div>
        </form>
      </div>
    </div>

    <div class="table-responsive text-nowrap">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID Kategori</th>
            <th>Nama Kategori</th>
            <th>Keterangan</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          @if (Model.Any())
          {
            foreach (var item in Model)
            {
              <tr>
                <td>@item.Id</td>
                <td><strong>@item.NamaKategori</strong></td>
                <td>@item.Keterangan</td>
                <td>
                  <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-danger btn-sm me-2" style="width: 60px;" data-bs-toggle="modal"
                      data-bs-target="#deleteModal" data-id="@item.Id" data-nama="@item.NamaKategori">
                      Hapus
                    </button>

                    <a class="btn btn-info btn-sm" style="width: 60px;" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                  </div>
                </td>
              </tr>
            }
          }
          else
          {
            <tr>
              <td colspan="4" class="text-center">Belum ada kategori yang ditambahkan.</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="mt-5">
      <a class="btn btn-primary" asp-action="Create">Tambah Kategori Baru</a>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="modalCenterTitle">Konfirmasi Hapus</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>Apakah Anda yakin ingin menghapus kategori ini?</p>
        <p><strong><span id="namaKategoriToDelete"></span></strong></p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-outline-secondary me-2" data-bs-dismiss="modal"
          style="width: 120px;">Batal</button>
        <form id="deleteForm" asp-action="Delete" method="post">
          @Html.AntiForgeryToken()
          <input type="hidden" id="recordIdToDelete" name="id" />
          <button type="submit" class="btn btn-danger" style="width: 120px;">Ya, Hapus!</button>
        </form>
      </div>
    </div>
  </div>
</div>

@section PageScripts {
  <script src="~/vendor/libs/toastify/toastify-js.js"></script>
  <script>
    function showToast(message, type = 'success') {
      const title = type === 'success' ? 'Berhasil!' : 'Gagal!';
      Toastify({
        text: `${title} ${message}`,
        duration: 3000,
        close: true,
        gravity: 'top',
        position: 'right',
        stopOnFocus: true,
        style: {
          background: type === 'success' ? '#198754' : '#dc3545',
          borderRadius: '0.5rem',
        },
      }).showToast();
    }

    var successMessage = "@message";

    if (successMessage) {
      showToast(successMessage, 'success');
    }

    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget;
      var recordId = button.getAttribute('data-id');
      var namaKategori = button.getAttribute('data-nama');

      var modalNamaKategori = deleteModal.querySelector('#namaKategoriToDelete');
      var recordIdInput = deleteModal.querySelector('#recordIdToDelete');

      modalNamaKategori.textContent = namaKategori;
      recordIdInput.value = recordId;
    });
  </script>
}
